ul.nav.nav-pills.nav-stacked
  li.active = link_to_with_icon 'info-sign', 'Awaiting Approval', manage_orders_path
  li = link_to_with_icon 'info-sign', 'Approved', manage_orders_path(sort: 'approved')
  li = link_to_with_icon 'info-sign', 'Rejected', manage_orders_path(sort: 'rejected')