p Hi, #{@order.email}

p Your order with order number : #{@order.number}
br Has been approved, please wait for your order to be processed

p If you did not make this request, please ignore this email.
br If you continue to have problems please feel free to contact us.