p.lede
  = Spree.t('order_mailer.confirm_email.dear_admin')
p Order : #{@order.number}
p Has been approved and is ready to be processed.
br
= render 'table_order', order: @order
br
= render partial: 'footer', locals: { order: @order, status: "approved" }