p.lede
  = Spree.t('order_mailer.confirm_email.dear_manager')
p Order : #{@order.number}
p Placed by : #{@order.user.email} (#{@order.user.full_name})
p Awaiting your approval
br
= render 'table_order', order: @order
br
p
  | Please click this link, to manage the order.
  = link_to "Order #{@order.number}", main_app.edit_manage_order_url(@order.number)