= render partial: 'header', locals: { order: @order, status: "confirmation" }
br
= render 'table_order', order: @order
br
= render partial: 'footer', locals: { order: @order, status: "confirmation", managers: @managers }