p
  = Spree.t('order_mailer.confirm_email.dear_manager')
p There is a new quotation ##{@order.number} placed by #{@order.user.full_name} (#{@order.user.email}) awaiting your approval.
br
= render 'table_order', order: @order
br
p
  ' Click here to manage the quotation:
  = link_to "Quotation ##{@order.number}", main_app.edit_manage_order_url(@order.number)
br
= render 'footer', order: @order