<div data-hook="admin_image_form_fields" class="row">
  <div class="col-xs-12 col-md-5">
    <div class="form-group">
      <%= f.field_container :variant_id do %>
        <%= label_tag 'variant_id', Spree.t(:variant) %>
        <%= select_tag 'variant_id', options_from_collection_for_select(@variants, :id, :sku_and_options_text),
          class: 'select2' %>
      <% end %>
    </div>
  </div>
</div>