span.input-group-addon
  | Remaining Budget
= text_field_tag :department_budget, number_to_currency(spree_current_user.temp_remaining_department_budget(current_order)), class: 'form-control department-budget', readonly: true