| Hi, you get new order from:
= @user.email

| With order number :
= @order.number

| If the above URL does not work try copying and pasting it into your browser.
| If you continue to have problems please feel free to contact us.