p Hi, #{@user.email}

p Your order with order number : #{@order.number}
br Has been rejected, you can edit the order and submit for approval again.

p If you did not make this request, please ignore this email.
br If you continue to have problems please feel free to contact us.