| Hi, #{@user.email}

| Your order with order number : #{@order.number}
| Has been approved, please wait for your order to be processed

| If you did not make this request, please ignore this email.
| If you continue to have problems please feel free to contact us.